.center {
    text-align: center;
}

.blue {
    color : #204d74;
}

.red {
    color : #ac2925;
}

.green {
    color : #449d44;
}

.bold {
    font-weight: bold;
}

.glyphicon.glyphicon-heart.active {
    color : #ac2925;
}
